<main>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card-box">

                        <div class="row">
                            <div class="col-sm-8">
                                <form role="form">
                                    <div class="form-group contact-search m-b-30">
                                        <input
                                                type="text"
                                                id="search"
                                                class="form-control"
                                                placeholder="Buscar ..."
                                        />
                                        <button type="submit" class="btn btn-white">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <!-- form-group -->
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <a
                                        href="/add-client"
                                        class="btn btn-default btn-md waves-effect waves-light m-b-30"
                                        data-animation="fadein"
                                        data-overlaySpeed="200"
                                        data-overlayColor="#36404a"
                                ><i class="md md-add"></i> Crear Propiedad</a
                                >
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table
                                    class="table table-hover mails m-0 table table-actions-bar"
                            >
                            <thead>
                                {{#if hasProperties}}
                                <tr>
                                    <th>N</th>
                                    <th>Nick Name</th>
                                    <th>Direccion</th>
                                    <th>Cant. Departamentos o Cuartos</th>
                                    <!--                                <th></th>-->
                                    <!--                                <th>Action</th>-->
                                </tr>
                                </thead>

                                    <tbody>


                                    {{#each properties as |property propertyId|}}
                                        <tr class="">
                                            <td>
                                            <td> {{propertyId}} </td>
                                            </td>
                                            <td>
                                                {{this.adressNickName}}
                                            </td>
                                            <td>
                                                {{this.adress }}
                                            </td>
                                            <td>
                                                {{this.phone}}
                                            </td>
                                            <td>
                                                <a href="#">{{this.email}}</a>
                                            </td>
                                            <td>
                                                <form action="/delete-client" method="POST">
                                                    <div class="button-list">
                                                        <a href="/edit-client/{{this._id}}?edit=true"
                                                           class="btn btn-icon waves-effect waves-light btn-primary"
                                                        ><i class="fa fa-edit"></i
                                                        ></a>

                                                        <button class="btn btn-icon waves-effect waves-light btn-danger"
                                                        ><i class="fa fa-remove"></i>

                                                        </button>
                                                    </div>


                                                </form>

                                            </td>


                                        </tr>
                                    {{/each}}
                                    </tbody>
                                {{ else }}
                                    <h1>No se tienen clientes registrados</h1>
                                {{/if}}
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
        <!-- container -->
    </div>

</main>
