extends ../layouts/main-layout.pug

block content
    main
    .content
        .container-fluid
            .row
                .col-lg-12
                    .card-box
                        .row
                            .col-sm-8
                                form(role='form')
                                    .form-group.contact-search.m-b-30
                                        input#search.form-control(type='text' placeholder='Buscar ...')
                                        button.btn.btn-white(type='submit')
                                            i.fa.fa-search
                            .col-sm-4
                                a.btn.btn-default.btn-md.waves-effect.waves-light.m-b-30(href='/add-client' data-animation='fadein' data-overlayspeed='200' data-overlaycolor='#36404a')
                                    i.md.md-add
                                    |  Crear Cliente
                        .table-responsive                           
                            table.table.table-hover.mails.m-0.table.table-actions-bar
                                thead
                                    tr
                                        th N
                                        th Nombre
                                        th Apellidos
                                        th Telefono
                                        th Email
                                        th Action
                                tbody
                                - let i=1;
                                each client in clients
                                    
                                    tr
                                                                         
                                        td #{i++} 
                                        td #{client.name}
                                        td #{client.lastName}
                                        td #{client.phone} 
                                        td
                                            a(href='#') #{client.email}
                                        td
                                            form(action='/delete-client' method='POST')
                                                .button-list
                                                    a.btn.btn-icon.waves-effect.waves-light.btn-primary(href='/edit-client/'+ client._id +'?edit=true')
                                                        i.fa.fa-edit
                                                    button.btn.btn-icon.waves-effect.waves-light.btn-danger
                                                        i.fa.fa-remove
                                
                                else
                                    h1 No se tienen clientes registrados